---
# - name: Install common packages
#   ansible.builtin.apt:
#     name: "{{ common_packages }}"
#     state: present
#     update_cache: true

# motd: Message of the Day, is a text file disaplayed upon SSH login
# typically found in Debian 11+. Safely removed here to print the
# role's custom SSH login message.
- name: Check if /etc/motd exists
  ansible.builtin.stat:
    path: /etc/motd
  register: motd_file

- name: Remove /etc/motd file (if exists)
  ansible.builtin.file:
    path: /etc/motd
    state: absent
  when: motd_file.stat.exists

# generic dir for local configs
- name: Ensure ~/.config exists
  ansible.builtin.file:
    path: "{{ default_user_home }}/.config"
    state: directory
    owner: "{{ default_user }}"
    group: "{{ default_user }}"
    mode: '0755'

- name: Clone bashlogin repo
  ansible.builtin.git:
    repo: "https://github.com/tinycloud-labs/bashlogin.git"
    dest: "{{ default_user_home }}/.config/bashlogin"
    version: "main"
    update: true
  ignore_errors: true
  become_user: "{{ default_user }}"
  register: bashlogin_clone

- name: Add login info message
  ansible.builtin.blockinfile:
    block: |
      source "$HOME/.config/bashlogin/main.sh"
    path: "{{ default_user_home }}/.bashrc"
    marker: "## {mark} ANSIBLE MANAGED BLOCK ##"
  no_log: true
  when: bashlogin_clone is succeeded or bashlogin_clone is skipped

# - name: Ensure bashlogin is sourced in .bashrc
#   ansible.builtin.lineinfile:
#     path: "{{ default_user_home }}/.bashrc"
#     line: 'source "$HOME/.config/bashlogin/main.sh"  # Added by Ansible'
#     insertafter: EOF
#     state: present
#   when: bashlogin_clone is succeeded or bashlogin_clone is skipped

- name: Set vim as the default editor
  ansible.builtin.command: update-alternatives --set editor /usr/bin/vim.basic
  register: task_stdout
  changed_when: task_stdout.rc != 0

- name: Backup and deploy /etc/hosts file
  ansible.builtin.template:
    src: templates/etc_hosts.j2
    dest: /etc/hosts
    backup: true
    mode: "0644"
