name: Terragrunt Manage Unit
run-name: Terragrunt ${{ inputs.type }} - Unit ${{ github.event.inputs.unit }} on ${{ github.event.inputs.environment }}

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Which environment to destroy unit from'
        required: true
        type: choice
        default: 'dev'
        options:
          - dev
          - prod
      stack:
        description: 'What stack to to destroy unit from'
        required: true
        type: choice
        options:
          - infra
          - platform
      unit:
        required: true
        description: 'Which unit to destroy'
        type: string
      type:
        required: true
        description: 'Terragrunt apply or destroy'
        type: choice
        options:
          - apply
          - destroy

jobs:
  stack:
    uses: ./.github/workflows/callable-terragrunt-unit.yml
    secrets: inherit
    with:
      module-path: terraform/live/${{ inputs.environment }}/${{ inputs.stack }}
      unit-name: ${{ inputs.unit }}
      run-type: ${{ inputs.type }}
